.container__tourguide-checkbox {
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 6px;
    position: absolute;
    top: 4px;
    text-align: center;
    left: 190px;
}

.container__tourguide {
    position: relative;
}

.container__tourguide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    top: 160px;
}

.container__detail-infor {
    margin-top: 30px;
}

.container__tourguide-people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.container__tourguide-name {
    color: #4a4a4a;
    font-weight: 700;
}

.container__tourguide-language {
    font-size: 1.4rem;
    color: #616161;
}

.container__tourguide-star {
    margin-top: 6px;
}

.button__contact {
    background: #fff;
    line-height: calc(3.5rem - 2px);
    border-radius: 28px;
    padding: 0 1.5rem;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%);
    border: 1px solid #eaeaea;
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 3rem;
    font-weight: 600;
    outline: none;
}

.container__tourguide-about-me {
    margin-top: 30px;
}

.container__tourguide-desc {
    font-size: 1.4rem;
    color: #887255;
}

.container__tourguide-reasons {
    margin-top: 30px;
}

.container__tourguide-logo-desc {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 16px;
}

.container__tourguide-local {
    margin-left: 6px;
    font-size: 1.2rem;
    color: #4a4a4a;
    font-weight: 450;
}