.header__search-input-people:focus .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.header__navbar-user-menu-people {
    color: var(--text-color);
}

.header__navbar-user-menu-count {
    display: flex;
    align-items: center;
}

.header__navbar-user-icon {
    margin: 4px;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 4px;
}

.home-product3-cover {
    text-decoration: none;
    display: block
}

.header__search-input-wrap:focus-visible {
    border-color: var(--primary-color);
}

.calendar__container:focus {
    border-color: var(--primary-color);
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.header__navbar-user:hover {
    color: var(--primary-color);
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 34px;
    transition: all 0.3s ease;
}

.header__navbar-user-name:hover {
    color: var(--primary-color);
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    text-decoration: none;
}

.header__navbar-user-item:hover {
    color: var(--primary-color);
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0px;
    width: 64%;
    height: 8px;
}

.header__navbar-user-item {
    text-decoration: none;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
    width: 100%;
    font-weight: 700;
}


/* .header__navbar-user-item a:hover {
    color: var(--primary-color);
} */

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #FAFAFA;
}