.app__container {
    width: 100%;
    margin-top: 40px;
}

.container__text {}

.reason-tour {
    padding-top: 18px;
}

.container__text h4 {
    font-size: 1.2rem;
    color: #535353;
    margin: 0;
    line-height: 1.3rem;
}

.container__text h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 324px;
    font-weight: 800;
}

.container__text-span {
    font-size: 2.5rem;
    color: #bfbfbe;
    line-height: 2.5rem;
    font-weight: 800;
}

.app__content {
    background: #f8f8f8;
    width: 100%;
}

.app__content-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__content-text {
    margin-left: 8px;
}

.app__content-text-heading {
    font-size: 1.6rem;
    color: var(--text-color);
}

.app__content-text-body {
    font-size: 1.2rem;
    color: var(--text-color);
}


/* Home product */

.home-product {
    margin-top: 50px;
}

.home-product-cover {
    width: 100%;
}

.home-product h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 350px;
    font-weight: 800;
}

.home-product-body {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%);
    border-radius: .5rem;
    overflow: hidden;
    display: block;
    transition: box-shadow .13s ease-in;
    margin: 2rem 1.5rem 2rem 0;
}

.home-product-body:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 25%);
}

.home-product-content {
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.home-product-title {
    font-size: 1.6rem;
    color: #4a4a4a;
    font-weight: 700;
    margin-bottom: 18px;
}

.home-product-status {
    color: #4a4a4a;
    font-size: .8rem;
    font-weight: 700;
}

.home-product-desc {
    font-size: 1.1rem;
    color: #a1a1a1;
    margin: 4px 0 18px 0;
}

.home-product-link {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 700;
}


/* home-formality */

.home-formality {
    margin-top: 50px;
}

.home-formality-cover {
    width: 100%;
}

.home-formality h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 350px;
    font-weight: 800;
    margin: 0;
}

.home-formality-p {
    font-size: 1.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 600px;
    margin: 0;
}

.home-formality-body {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%);
    border-radius: .5rem;
    overflow: hidden;
    display: block;
    transition: box-shadow .13s ease-in;
    margin: 2rem 1.5rem 2rem 0;
    width: 100%;
}

.home-formality-body:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 25%);
}

.home-formality-body:hover .home-formality-title {
    color: var(--primary-color);
    text-decoration: underline;
}

.home-formality-content {
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.home-formality-title {
    font-size: 1.4rem;
    color: #4a4a4a;
    font-weight: 700;
    transition: all 0.3s ease
}


/* home-introduce */

.home-introduce {
    height: 340px;
    width: 100%;
    margin-top: 16px;
    background-image: url(https://withlocals-com-res.cloudinary.com/image/upload/h_600,q_auto/v1587115955/website/full-background-small);
}

.home-introduce-cover {
    height: 100%;
    width: 100%;
    position: relative;
}

.home-introduce__img {
    position: absolute;
    top: 0;
    left: 0;
}

.home-introduce-body {
    display: flex;
    align-items: center;
}

.home-introduce-title {
    padding: 60px 0 0 18px;
    display: flex;
    align-items: center;
}

.home-introduce-live {
    padding: 0 4px;
    color: #fff;
    background: var(--primary-color);
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 12px;
    letter-spacing: 2px;
    margin-left: .5rem;
    height: 12px;
    display: inline-block;
}

.home-introduce-heading {
    padding: 0 0 0 18px;
    margin-top: 10px;
    font-size: 2.4rem;
    color: var(--white-color);
    max-width: 350px;
    line-height: 3.4rem;
}

.home-introduce-desc {
    padding: 0 0 0 18px;
    font-size: 1.6rem;
    color: var(--white-color);
    max-width: 280px;
    line-height: 2.4rem;
    font-weight: 450;
}

.home-introduce-image {
    position: relative;
    top: 48px;
}


/* home-product2 */

.home-product2 {
    margin-top: 50px;
}

.home-product2-cover {
    width: 100%;
}

.home-product2 h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 380px;
    font-weight: 800;
    margin: 0;
}

.home-product2 h4 {
    font-size: 1.4rem;
    color: #858585;
    line-height: 1.4rem;
    max-width: 380px;
    font-weight: 400;
    margin: 4px 0 0 0;
}

.home-product2-body {
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%);
    border-radius: .5rem;
    overflow: hidden;
    display: block;
    transition: box-shadow .13s ease-in;
    margin: 2rem 1.5rem 2rem 0;
}

.home-product2-body:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 25%);
}

.home-product2-content {
    padding: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.home-product2-title {
    font-size: 1.6rem;
    color: #4a4a4a;
    font-weight: 700;
    margin-bottom: 18px;
}

.home-product2-status {
    color: #4a4a4a;
    font-size: .8rem;
    font-weight: 700;
}

.home-product2-desc {
    font-size: 1.1rem;
    color: #a1a1a1;
    margin: 4px 0 18px 0;
}

.home-product2-link {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 700;
}


/* home-product3 */

.container-product3 {
    /* display: flex; */
}

.home-product3 {
    margin-top: 50px;
    width: 100%;
}

.home-product3-cover {
    width: 100%;
}

.home-product3 h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    line-height: 2.5rem;
    max-width: 380px;
    font-weight: 800;
    margin: 0;
}

.home-product3-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 15%);
    border-radius: .5rem;
    overflow: hidden;
    transition: box-shadow .13s ease-in;
    margin: 2rem 1.5rem 2rem 0;
    width: 100%;
    cursor: pointer;
}

.home-product3-body:hover .home-product3-link {
    text-decoration: underline;
}

.home-product3-content {
    padding: 20px;
}

.home-product3-title {
    font-size: 1.9rem;
    color: #535353;
    font-weight: 800;
    margin-bottom: 10px;
}

.home-product3-desc {
    color: grey;
    font-size: 1.3rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.home-product3-link {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
    margin-top: 112px;
}

.home-formality-container {
    text-decoration: none;
}