.uptour__img {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
}

.uptour__container {
  margin-bottom: 25px;
}

.uptour__img1 {
  display: block;
  margin-top: 4px;
}

.uptour__container:first-child {
  margin-top: 62px;
}

.form-control1 {
  background: #fff;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  height: 35px;
  outline: none;
  width: 50%;
}
