.app {
    overflow: hidden;
}

.main {
    /* position: relative; */
    width: 100%;
}

.header {
    height: var(--header-height);
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
    padding: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    align-items: center;
}

.header__navbar-list {
    list-style: none;
    padding: 0 15px 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 16px;
    position: relative;
    height: 34px;
}

.header__logo-link {
    padding-left: 20px;
    display: block;
}

.header__navbar-item,
.header__navbar-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 34px;
    transition: all 0.3s ease
}

.header__navbar-link:hover {
    color: var(--primary-color);
}

.header__navbar-icon {
    margin-left: 4px;
}

.header__navbar-item:last-child {
    border: 1px solid var(--white-color);
    border-radius: 1.8rem;
    padding: 0 12px
}

.header__search {
    padding: 24px 34px;
    border-radius: 4px;
}

.header__search-input {
    border: none;
    outline: none;
    margin: 12px 0;
    font-weight: 400;
    display: block;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 49px;
    width: 243px;
    margin-right: 3px;
    border-radius: 28px;
    cursor: pointer;
    outline: none;
}

.header__search-btn:hover {
    background-color: #2ebbee;
}

.header__container {
    width: 984px;
    margin: 166px 0 0 152px;
}

.header__search-btn-icon {
    width: 232px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__text {
    display: flex;
    flex-direction: column;
}

.header__title {
    color: var(--white-color);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.header__content {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
}

.header__search-input {
    padding: 4px 8px;
    display: block;
}

.header__search-input-wrap {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 18px;
    border: 1px solid #333;
    padding: 0px 10px;
    width: 459px;
}

.calendar__container {
    position: relative;
    cursor: pointer;
    background-color: var(--white-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 172px;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
}

.header__search-input-wrap1 {
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
}

.header__search-input-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 6px;
}

.header__search-input-text1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* margin: 0 6px; */
}

.header__search-icon {
    font-size: 1.4rem;
    color: grey;
}

.header__search-icon-text {
    display: flex;
    align-items: center;
}

.header__search-input-people {
    position: relative;
    cursor: pointer;
    background-color: var(--white-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 173px;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
}


/* Search */

.header__search-input-wrap1:hover .header__search-history {
    display: block;
}


/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    max-width: 600px !important;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    overflow: hidden;
    text-align: left;
    /* display: none; */
    z-index: 1;
}


/* .header__search-history::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -6px;
    background-color: red;
} */

.header__search-history-heading {
    font-size: 2rem;
    font-weight: 400;
    margin: 26px 26px;
    color: var(--text-color);
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}


/* Calendar */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
 :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.calendar {
    padding: 3rem 2rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

.calendar-year {
    color: #1a2633;
    font-size: 1.8rem;
    font-weight: normal;
}

.calendar-action {
    font-size: 3rem;
    color: var(--primary);
}

.calendar-action i {
    cursor: pointer;
}

.calendar-action i:last-child {
    margin-left: 3rem;
}

.calendar-table {
    width: 100%;
    vertical-align: middle;
    table-layout: fixed;
}

.calendar-table th {
    color: #999;
    font-size: 1.2rem;
}

.calendar-table th,
.calendar-table td {
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}

.calendar-table td {
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

.calendar-table td.other {
    color: #999;
    opacity: 0.5;
}

.calendar-table td:hover {
    color: white;
    background-color: var(--primary);
}

@media screen and (max-width: 767px) {
    .calendar {
        padding: 1.5rem;
    }
    .calendar-header {
        margin-bottom: 5px;
    }
    .calendar-content {
        width: 100%;
        overflow-x: auto;
    }
    .calendar td {
        font-size: 1.2rem;
        width: auto;
        height: auto;
    }
} */

.header__search-input-people:focus .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    overflow: hidden;
    text-align: left;
    display: none;
    z-index: 1;
}

.header__navbar-user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.header__navbar-user-menu-people {
    color: var(--text-color);
}

.header__navbar-user-menu-count {
    display: flex;
    align-items: center;
}

.header__navbar-user-icon {
    margin: 4px;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 4px;
}

.home-product3-cover {
    text-decoration: none;
    display: block
}

.header__search-input-wrap:focus-visible {
    border-color: var(--primary-color);
}

.calendar__container:focus {
    border-color: var(--primary-color);
}