footer {
    border-top: 1px solid var(--primary-color);
    padding-top: 16px;
    margin-top: 30px;
}

.footer__heading {
    font-size: 1.1rem;
    color: #6f6f6f;
    text-transform: uppercase;
    margin: 0;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: #aaa49f;
    padding: 2px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
    text-decoration: underline;
    transition: all .5s ease;
}

.footer__bottom {
    margin-top: 26px;
    background-color: #f5f5f5;
    padding: 8px 0;
}

.footer__text p {
    margin: 0;
    font-size: 1.1rem;
    color: #737373;
    text-align: center;
}