.app__container {
    background-color: #f5f5f5;
    margin-top: 0;
}

.container__profile-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 6px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 25px;
    list-style: none;
}

.category-item {
    padding: 15px 0;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    position: absolute;
    content: "";
    border-top: 1px solid #e1e1e1;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 6px 20px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.home-profile {
    border-radius: 2px;
    background-color: var(--white-color);
}

.home-profile-heading {
    font-size: 2.3rem;
    color: var(--text-color);
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 20px 0 0 20px;
    display: block;
}

.home-profile-avatar {
    margin: 20px;
}

.home-profile-btn {
    border: 1px solid var(--primary-color);
    border-radius: 1.8rem;
    padding: 0 12px;
    background-color: var(--primary-color);
    outline: none;
    padding: 8px 12px;
    color: var(--white-color);
    cursor: pointer;
    margin-left: 50px;
}

.home-profile-detail {
    margin: 30px 20px;
    border-top: 1px solid var(--primary-color);
}

.home-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-control {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    height: 35px;
    outline: none;
    width: 50%
}

.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#09b4ed, #09b4ed), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom, 50% calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
}

.home-profile-date {
    margin-top: 20px;
    padding-bottom: 20px;
}

.home-profile-birthday {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    height: 35px;
    outline: none;
}

.home-profile-update-detail {
    text-align: right;
    margin-right: 20px;
    padding-bottom: 30px;
}

.home-profile-update {
    border: 1px solid var(--primary-color);
    border-radius: 1.8rem;
    background-color: var(--primary-color);
    outline: none;
    padding: 8px 12px;
    color: var(--white-color);
    cursor: pointer;
}