.modal__overlay1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.modal1 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.auth-form__text-input {
    width: 100%;
}
.auth-form__input-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__input-text1 {
    display: block;
    font-size: 1.4rem;
}


.auth-form__input1 {
    width: 15%;
    height: 21px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 2px -12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.home-profile-btn1 {
    margin-top: 16px;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 1.8rem;
    padding: 0 12px;
    background-color: var(--primary-color);
    outline: none;
    padding: 8px 12px;
    color: var(--white-color);
    cursor: pointer;
}

.modal__body1 {
    margin: 0 auto;
}

.grid1 {
    width: 100%;
    display: block;
    padding: 0;
}
